:root {
  /* COLOR */
  --compuaccess-primary-600: rgb(230, 105, 80);
  --compuaccess-secondary-1: rgb(204, 85, 61);
  --compuaccess-secondary-2: rgb(0, 175, 139);
  --compucash-blue-0: rgb(243, 246, 251);
  --compucash-blue-100: rgb(196, 206, 236);
  --compucash-blue-200: rgb(176, 189, 229);
  --compucash-blue-300: rgb(156, 173, 223);
  --compucash-blue-400: rgb(136, 157, 217);
  --compucash-blue-50: rgb(215, 222, 242);
  --compucash-blue-500: rgb(97, 124, 204);
  --compucash-blue-600: rgb(57, 91, 191);
  --compucash-blue-700: rgb(46, 73, 153);
  --compucash-blue-800: rgb(48, 68, 130);
  --compucash-blue-850: rgb(52, 63, 93);
  --compucash-blue-900: rgb(17, 27, 57);
  --compucash-secondary-500: rgb(233, 150, 97);
  --compucash-secondary-600: rgb(227, 124, 58);
  --compucash-secondary-700: rgb(182, 99, 46);
  --compucash-secondary-800: rgb(136, 74, 35);
  --danger-0: rgb(252, 241, 242);
  --danger-100: rgb(248, 219, 223);
  --danger-200: rgb(244, 187, 195);
  --danger-300: rgb(241, 143, 156);
  --danger-400: rgb(237, 83, 103);
  --danger-500: rgb(245, 65, 88);
  --danger-600: rgb(249, 33, 72);
  --danger-700: rgb(223, 6, 45);
  --danger-800: rgb(174, 5, 35);
  --danger-900: rgb(99, 3, 20);
  --ektaco-primary: rgb(34, 59, 115);
  --neutral-0: rgb(255, 255, 255);
  --neutral-100: rgb(230, 230, 231);
  --neutral-200: rgb(189, 189, 193);
  --neutral-300: rgb(152, 152, 161);
  --neutral-400: rgb(132, 132, 146);
  --neutral-50: rgb(247, 247, 247);
  --neutral-500: rgb(106, 106, 118);
  --neutral-600: rgb(81, 81, 98);
  --neutral-700: rgb(58, 58, 74);
  --neutral-800: rgb(38, 38, 50);
  --neutral-900: rgb(28, 27, 31);
  --success-100: rgb(219, 245, 223);
  --success-200: rgb(199, 240, 206);
  --success-300: rgb(167, 231, 177);
  --success-400: rgb(145, 225, 158);
  --success-500: rgb(78, 207, 100);
  --success-600: rgb(27, 156, 49);
  --success-700: rgb(17, 98, 31);
  --success-800: rgb(7, 39, 12);
}
